--extra-index-url https://download.pytorch.org/whl/cpu
chromadb==1.0.13
icecream==2.1.4
fastapi==0.115.13
langchain-community==0.3.26
langchain-openai==0.3.24
motor==3.7.1
pydantic==2.11.7
aiosmtplib==4.0.1
sentence-transformers==4.1.0
pydantic==2.11.7
torch